$red: #ff715b;
$green: #48cfad;
$blue: #0197f6;
$yellow: #faf695;
$image-overlay-opacity: 0.7;
$product-main-color: $blue;

.Landing {
  padding: 0 15px;
}

.product {
  cursor: pointer;
  position: relative;
  padding-bottom: 100px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 500ms ease-out;
  margin-bottom: 30px;
  box-shadow: -2px 6px 8px -3px rgba(0, 0, 0, 0.1);

  img {
    width: 90%;
    margin-left: 5%;
  }

  .stats-container {
    background: #fff;
    padding: 25px 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    .product_name {
      font-size: 22px;
      color: #393c45;
    }

    p {
      font-size: 16px;
      color: #b1b1b3;
      margin: 0;
    }

    .product_price {
      float: right;
      color: $product-main-color;
      font-size: 22px;
      font-weight: 600;
    }
  }

  .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 200ms ease-out;
  }

  &.compare {
    .image_overlay {
      opacity: $image-overlay-opacity;
    }
  }

  .view_details {
    position: absolute;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    width: 80%;
    opacity: 0;
    transition: all 200ms ease-out;


    &:hover {
      background: #fff;
      cursor: pointer;

      &:hover.red {
        color: $red;
      }

      &:hover.blue {
        color: $blue;
      }

      &:hover.green {
        color: $green;
      }

      &:hover.yellow {
        color: $yellow;
      }
    }
  }

  &:hover {
    box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.2);

    .image_overlay.red{
      opacity: $image-overlay-opacity;
      background: $red;
    }

    .image_overlay.green{
      opacity: $image-overlay-opacity;
      background: $green;
    }

    .image_overlay.blue{
      opacity: $image-overlay-opacity;
      background: $blue;
    }

    .image_overlay.yellow{
      opacity: $image-overlay-opacity;
      background: $yellow;
    }

    .view_details {
      opacity: 1;
      width: 80%;
      left: 10%;
      font-size: 15px;
      top: 20%;
      transition: all 200ms ease-out;
    }
  }
}
